.list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #3ece8bd8;

}

.box{
    width: 200px;
    height: 200px;
    background-color: #79d345;
}